:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
.main-title {
  position: relative;
  text-transform: uppercase;
  margin: 0 auto 80px;
  padding: 10px;
  width: fit-content;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  border: 2px solid black;
  z-index: 1;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover{
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title:hover::before{
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

/* !Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: var(--transition);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  transition: all 0.4s ease-in-out;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* !End Global Rules */
/* Start Header */
header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #262626;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  color: var(--main-color);
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
  
}
header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
  
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
  text-decoration: none;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    font-size: 13px;
    height: 30px;
  }
  
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0px;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
header .main-nav > li > a:hover {
  color: var(--main-color);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
/* *Start Mega menu */
.mega-menu {
    position: absolute;
    width: 100%;
    left: 0px;
    background-color: white;
    z-index: -1;
    display: flex;
    top: calc(100% + 50px);
    opacity: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    gap: 40px;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 991px) {
  .mega-menu {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
  }
  
}
header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.mega-menu .image {
  width: 50%;
}
.mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .mega-menu .image {
    display: none;
  }
}
.mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.mega-menu .links li{
  position: relative;
}
.mega-menu .links li:not(:last-child){
  margin-bottom: 1px solid #e9e6e6;
}
@media(max-width:767px){
  .mega-menu .links:first-of-type li:last-child{
    margin-bottom: 1px solid #e9e6e6;    
  }
}

.mega-menu .links li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.mega-menu .links li:hover::before{
  width: 100%;
}

.mega-menu .links li a{
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.mega-menu .links li i{
  margin-right: 15px;
}
/* *End Mega menu */
/* End Heading */
/* Start Landing */
.landing{
  position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0px;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: left top;
}
.landing .container{
  display: flex;
  align-items: center;
  min-height: calc(-72px + 100vh);
}
.landing .text{
  flex: 1;
  width: 50%;
}
@media (max-width:991px) {
  .landing .text{
    text-align: center;
  }
}

.landing .text h1{
  font-size: 40px;
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: -2px;
}
@media (max-width:761px) {
  .landing .text h1{
    font-size: 28px;
  }
}
.landing .text p{
  font-size: 24px;
  line-height: 1.7;
  color: #666;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width:761px) {
  .landing .text p{
    font-size: 18px;
  }
}

@media (max-width:991px) {
  .landing .text p{
    margin: 10px auto;
  }
}

.landing .image{
  height: 400px;
  width: 50%;
  background-image: url("../images/landing-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation:  linear 3s infinite normal none running landing-image ;
}
@media (max-width:991px) {
  .landing .image{
    display: none;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/*End Landing */
/* Start Articles */
.articles {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  position: relative;
}
.articles .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .box{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  height: 100%;
  border-radius: 6px;
  margin: 20px;
  background-color: white;
  overflow: hidden;
  transition: var(--main-transition),box-shadow var(--main-transition);
}
.articles .box:hover {
  box-shadow: 0 2 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
@media (max-width: 767px) {
  .articles .box {
    max-width:100% ;
  }
  .articles .text{
    margin-top: 10px;
  }
}
.articles .box .image {
  width: 100%;
  height: 50%;
}
.articles .box .image img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.articles .box .text {
  padding: 5px;
}
.articles .box .text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.articles .box .text p {
  font-size: 16px;
  line-height: 1.5;
}
.articles .box .footer{
  border-top:1px solid #e9e6e6;
  padding: 10px;
  margin-top: 25px;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
}
.articles .box .footer a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box:hover i{
  animation: bounce-right 1s infinite;
  cursor: pointer;
}

/* End Articles */
/* Start Gallery */
/* End Gallery */
.gallery {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image{
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}
.gallery .box:hover .image::before{
  animation: popout 0.7s;
}
.gallery .box .image img{
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box:hover img{
  transform: rotate(3deg) scale(1.05);
}
/* End Gallery */
/* Start features */
.features {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  position: relative;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box{
  width: 100%;
  height: 700px;
  border: 1px solid #e9e6e6;
}
.features .box .image {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
.features .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.features .box .image::after {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 0;
    border-style: solid;
    border-width: 0 0 150px 350px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .image::after {
    bottom: -3px;
    left: 0;
    border-style: solid;
    border-width: 0px 445px 120px 0px;
    border-color:  transparent transparent white  transparent;
}
.features .box .image img {
  width: 100%;
  object-fit: cover;
  transition: var(--main-transition);
}
.features .box .text{
  text-align: center;
  line-height: 2;
}
.features .box .text h3 {
  font-size: 32px;
  margin: 20px 0;
  position: relative;
}
.features .box .text p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  color: #777;
}
.features .footer{
  margin-top: 50px;
}
.features .box .footer button{
  margin: auto;
  display: block;
  padding: 10px 20px;
  background: none;
  font-size: 24px ;
  font-weight: bold;
  border-radius: 6px;
  border: 3px solid;
}
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);

}
.features .box h3::after{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 140px;
  height: 5px;
  width: 20%;
}
.features .quality h3::after {
  background-color: rgb(244 64 54 / 60%);
}
.features .time h3::after {
  background-color: rgb(0 150 136 / 60%);
}
.features .passion h3::after {
  background-color: rgb(3 169 244 / 60%);
}
.features button{
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
}
.features .quality button {
  color: rgb(244 64 54 / 60%);
  border-color: rgb(244 64 54 / 60%);
}

.features .box:hover button{
  color: white;
  transition-delay: 0.2s;
}
.features button::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: width 0.4s ease-in-out;
}
.features .quality:hover button::after {
  background-color: rgb(244 64 54 / 60%);
  width: 100%;
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time button{
  color: rgb(0 150 136 / 60%);
  border-color: rgb(0 150 136 / 60%);
}
.features .time:hover button::after {
  background-color: rgb(0 150 136 / 60%);
  width: 100%;
}
.features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);

}
.features .passion button {
  color: rgb(3 169 244 / 60%);
  border-color: rgb(3 169 244 / 60%);
}
.features .passion:hover button::after {
  
  background-color: rgb(3 169 244 / 60%);
  width: 100%;
}
/* End features */
/* Start Testimonials */
.test{
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.test .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.test .box {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  padding: 20px;
  position: relative;
  line-height: 1.5; 
  border-radius: 6px;
}
.test .image{
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 80%;
  border-radius: 50%;
  border: 10px solid var(--section-background);
  overflow: hidden;
}
.test .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.test .name {
  font-size: 24px;
  font-weight: bold;  
}
.test .title,.test .text {
  font-size: 18px;
  color: #777;
  margin: 5px 0;
}
.test .rate .filled {
  color: #ffc107;
}
/* End Testimonials */
/* strat members */
.members {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  position: relative;
}
.members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.members .box {
  position: relative;
  width: 100%;
  padding: 20px;
  line-height: 1.5; 
  border-radius: 6px;
}
.members .box::before, .members .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}
.members .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.members .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.members .box:hover::after{
    width: calc(100% - 60px);
}
.members .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}
.members img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}
.members .box:hover img {
  filter: grayscale(100%);
}
.members .links{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.members .links a {
  color: var(--main-color);
  margin-bottom: 10px;
  transition: var(--main-transition);
  margin: 10px 0;
}
.members .text{
  padding-left: 80px;
}
.members .text h2{
  color: var(--main-color);
}
/* End members */
/* Start Services */
.services {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
    text-align: center;

}
.services .box i {
  color: var(--section-background);
  margin-bottom: 20px;
  margin-top: 20px;
}
.services .box h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--main-color);
}
.services .box .details{
  position: relative;
  padding: 15px;
  text-align: right;
  background-color: #f9f9f9;
}
.services .box .details a {
  color: var(--main-color);
  transition: var(--main-transition);
}

/* End Services */
/* !Start animtion */
@keyframes landing-image {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bouncing {
  0%,10%,20%,30%,50%,70%,80%,90%,100%{
    transform: translateY(0px);
  }
  40%,60% {
    transform: translateY(-10px);
  }
}
@keyframes left-move {
  50% {
    left: 0px;
    height: 12px;
    width: 12px;
  }
  100% {
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0px;
    height: 12px;
    width: 12px;
  }
  100% {
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes bounce-right {
  0%,10%,20%,30%,50%,70%,80%,90%,100%{
    transform: translateX(0px);
  }
  40%,60% {
    transform: translateX(10px);
  }
}
@keyframes popout {
  0%,40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/* !End animtion */
