:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
.main-title {
  position: relative;
  text-transform: uppercase;
  margin: 0 auto 80px;
  padding: 10px;
  width: fit-content;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
  border: 2px solid black;
  z-index: 1;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width:12px;
  height:12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover{
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title:hover::before{
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

/* !Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: var(--transition);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  transition: all 0.4s ease-in-out;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* !End Global Rules */
/* Start Header */
header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #262626;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  color: var(--main-color);
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
  
}
header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
  
}
header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
  text-decoration: none;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    font-size: 13px;
    height: 30px;
  }
  
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0px;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
header .main-nav > li > a:hover {
  color: var(--main-color);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
/* *Start Mega menu */
.mega-menu {
    position: absolute;
    width: 100%;
    left: 0px;
    background-color: white;
    z-index: -1;
    display: flex;
    top: calc(100% + 50px);
    opacity: 0;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    gap: 40px;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 991px) {
  .mega-menu {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
  }
  
}
header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.mega-menu .image {
  width: 50%;
}
.mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .mega-menu .image {
    display: none;
  }
}
.mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.mega-menu .links li{
  position: relative;
}
.mega-menu .links li:not(:last-child){
  margin-bottom: 1px solid #e9e6e6;
}
@media(max-width:767px){
  .mega-menu .links:first-of-type li:last-child{
    margin-bottom: 1px solid #e9e6e6;    
  }
}

.mega-menu .links li::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.mega-menu .links li:hover::before{
  width: 100%;
}

.mega-menu .links li a{
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.mega-menu .links li i{
  margin-right: 15px;
}
/* *End Mega menu */
/* End Heading */
/* Start Landing */
.landing{
  position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    left: 0px;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 236);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: left top;
}
.landing .container{
  display: flex;
  align-items: center;
  min-height: calc(-72px + 100vh);
}
.landing .text{
  flex: 1;
  width: 50%;
}
@media (max-width:991px) {
  .landing .text{
    text-align: center;
  }
}

.landing .text h1{
  font-size: 40px;
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: -2px;
}
@media (max-width:761px) {
  .landing .text h1{
    font-size: 28px;
  }
}
.landing .text p{
  font-size: 24px;
  line-height: 1.7;
  color: #666;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width:761px) {
  .landing .text p{
    font-size: 18px;
  }
}

@media (max-width:991px) {
  .landing .text p{
    margin: 10px auto;
  }
}

.landing .image{
  height: 400px;
  width: 50%;
  background-image: url("../images/landing-image.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation:  linear 3s infinite normal none running landing-image ;
}
@media (max-width:991px) {
  .landing .image{
    display: none;
  }
}
/* Start Animation */
@keyframes landing-image {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* end Animation */
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/*End Landing */
/* Start Articles */
.articles {
  padding: var(--main-padding-top) 0 var(--main-padding-bottom);
}
.articles .boxes{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.articles .boxes .box{
  width: 250px;
  height: 100%;
  border-radius: 5px;
  margin: 20px;
  background-color: white;
  border-radius: 6px;

}
.articles .boxes .box .image {
  width: 100%;
  height: 60% ;
}
.articles .boxes .box .image img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  
}
.articles .boxes .box .text {
  padding: 10px;
  border-bottom: 1px solid #e9e6e6;
}
.articles .boxes .box .footer{
  padding: 10px;
  margin-top: 25px;
}
/* End Articles */
/* !Start animtion */
@keyframes bouncing {
  0%,10%,20%,30%,50%,70%,80%,90%,100%{
    transform: translateY(0px);
  }
  40%,60% {
    transform: translateY(-10px);
  }
}
@keyframes left-move {
  50% {
    left: 0px;
    height: 12px;
    width: 12px;
  }
  100% {
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0px;
    height: 12px;
    width: 12px;
  }
  100% {
    right: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
/* !End animtion */
